@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #091e98 0%, #000000 100%);
}

.nav-link { 
    color: azure;
}

.navbar-nav .nav-link.active {
    color: rgb(200, 20, 20);
}

.navbar-brand img {
    width: 35px;
}

.navbar-toggler {
    background-color: rgb(108, 106, 106);
}

.sidebar {
    color: azure;
    background: linear-gradient(270deg, #b60d57 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #cecece 0%, #777777 100%);
    color: #000000;
}

.card a {
    text-decoration: none;
    color: #000000;
    
}

.col-lg-6.col-md-6 {
    color: azure;
    margin: auto auto;

}