@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #091e98 0%, #000000 100%);
}

p {
    color: azure;
}

.nav-link {
    color: azure;
}

.navbar-nav .nav-link.active {
    color: rgb(200, 20, 20);
}

.navbar-brand img {
    width: 35px;
}

.navbar-toggler {
    background-color: rgb(108, 106, 106);
}

.sidebar {
    color: azure;
    background: linear-gradient(270deg, #b60d57 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #cecece 0%, #777777 100%);
    color: #000000;
}

.card a {
    text-decoration: none;
    color: #000000;

}

.col-lg-6.col-md-6,
.footer-text {
    color: azure;
    margin: auto auto;
}

footer {
    background: linear-gradient(270deg, #5100ff 0%, #1f009b 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    .carousel-indicators {
        display: none;
    }
}